@using CodeMasteryDemo
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - CodeMastery 2013 SF: Responsive Design</title>
    
    @Styles.Render("~/Content/reset.css")
    @RenderSection("styles", required: false)
    
    <script type="text/javascript">
        // ensure HTML5 semantic elements exist in older browsers
        document.createElement('nav');
        document.createElement('header');
        document.createElement('article');
        document.createElement('section');
        document.createElement('footer');
        document.createElement('video');
    </script>
</head>
    <body>
        @RenderBody()
        @RenderSection("scripts", required: false)
    </body>
</html>
